tensorflow==2.13.0
deepxde==1.4.0
numpy==1.23.5
scipy==1.10.1
scikit-learn==1.2.2
matplotlib
pathos
deap
nlopt
autograd
nvidia-cudnn-cu11==8.6.0.163
nvidia-cublas-cu11
nvidia-cuda-runtime-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11

